---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro';
import PostSummary from "../../components/ui/PostSummary.astro";
import RelatedPosts from "../../components/ui/RelatedPosts.astro";


export async function getStaticPaths () {
  const posts = await getCollection('posts', ({data}) =>  import.meta.env.DEV || !data?.draft)

  const paths = posts.map(post => ({
    params: {
      slug: post.slug
    },
    props: {
      post
    }
  }))
  return paths;
};


const { slug } = Astro.params;
const { post } = Astro.props;
const { Content } = await post.render();
---
<Layout title={post.data.title} description={post.data.description} imageUrl={post.data.preview}>
    <main class="container !pt-0 !m-auto flex gap-16 flex-col-reverse lg:flex-row">
        <article class="mx-auto basis-4/6">
          <header class="mb-8">
            <h1 class="font-bold font-mono text-4xl">{post.data.title}</h1>
            <p>{post.data.author}</p>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString('es', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' })}
            </time>
            <hr>
          </header>
          <div class="prose prose-xl overflow-visible mb-20 relative">
            <Content />
          </div>
          <hr >
          <section class="mt-4 mb-8">
            <h3>Categorias</h3>
            <ul class="flex gap-2 flex-wrap">
              {
                post.data?.categories?.map(category => (
                  <li class="bg-slate-100 p-2">{category}</li>
                ))
              }
            </ul>
          </div>
        </section>
        <aside class="basis-2/6">
          <PostSummary description={post.data.description} />
          { post.data?.relatedPosts?.length > 0 ? <RelatedPosts relatedPosts={post.data.relatedPosts}/> : null }
        </aside>
    </main>
</Layout>