---
    const { title, description, url } = Astro.props
    const imageUrl = Astro.site.href + 'assets/media.png'
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>
<meta name="keywords" content="blog, development, framework, technology, javascript, mern, mean, stack">
<meta name="author" content="Thiago Granata">
<meta name="copyright" content="Thiago 2022">

<!-- Facebook -->
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:type" content="website">
<meta property="og:image" content={imageUrl}>
<meta property="og:url" content={url}>

<!-- Twitter -->
<meta name="twitter:creator" content="@tmgranata">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={imageUrl}>
<meta name="twitter:url" content={url}>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

<!-- Styling -->
<link rel="stylesheet" type="text/css"
  href={Astro.resolve('../styles/global.css')} />

<script>
  // Hecho para evitar parpadeos

  const root = document.documentElement;
  const theme = localStorage.getItem('theme');
  if (theme === 'dark' || (!theme)) {
    root.classList.add('theme-dark');
  } else {
    root.classList.remove('theme-dark');
  }
</script>