---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const lastPost = (await getCollection('posts', ({data}) => import.meta.env.DEV || !data?.draft)).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())[0]
---

<article class="bg-custom-gradient flex relative  text-text col-span-1 lg:col-span-3 rounded-3xl flex-col lg:flex-row">
    <a aria-label="Mi último articulo" href={`blog/${lastPost.slug}`} class="rounded-3xl font-medium absolute  bg-accent flex justify-between w-80 p-4 -top-6 right-1/2 left-1/2 transform -translate-x-1/2 lg:-right-4 lg:transform-none lg:left-auto lg:w-96 hover:shadow-firm hover:transition-shadow">
        <p>Te invito a leer mi último articulo</p>
        <p>→</p>
    </a>

    <Image loading={'eager'} class="rounded-xl object-cover aspect-video p-2 mx-auto my-8 lg:m-8 lg:p-0" src={lastPost.data.preview} alt={lastPost.data.title} width={600} height={225}/>

    <section class="place-self-center flex flex-col gap-0 items-center w-full lg:items-start lg:gap-4">
            <h2 class="text-background font-bold font-mono text-3xl md:text-5xl lg:text-3xl text-center lg:text-start">
                {lastPost.data.title}
            </h2>
            <p class="line-clamp-5 text-background text-lg font-medium w-3/4 mb-6 p-2 lg:p-0 lg:mb-0 lg:w-auto">{lastPost.data.description}</p>
    </section>
</article>